*{
    margin: 0;
    padding: 0;
}

/*=========================================
Universal Classes 
===========================================*/
.syne{
    font-family: 'Syne', sans-serif;
}

.epilogue{
    font-family: 'Epilogue', sans-serif;
} 

/*=========================================
Nav
===========================================*/

nav{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
    padding: 25px 20px;
    background-color:  #070e1a;
    border-bottom: 1px solid #1e3552;
}   

#logo a{
    color: white;
    margin: 0px 20px;
    font-weight: 800;
    text-decoration: none;
}

#nav-links a{
    margin: 0px 20px;
    text-decoration: none;
    color:  #8fa8c4;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

#nav-links a:hover{
    color: #4db8ff;
}

/*=========================================
Hero 
===========================================*/